/****** Main Styling ******/

body {
	background-color: #57448F;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.btn {
	background-color: #FFA500;
	color: #fff;
	padding: 4px 20px;
}

.btn:hover {
	background-color: #00BCD4;
	color: #fff;
}

span, label, p, h1, h2 {
	color: #fff;
}

a {
	color: #F9BA47;
}

a:hover {
	color: #00BCD4;
	text-decoration: none;
}

#header {
	background-color: #271A4E;
}

#footer {
	background-color: #271A4E;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;	
}

#footer span {
	text-align: center;
}


#form-container {
	margin: 50px 0 0 0;
}

.bar {
	border: 1px #ccc solid;
	margin: 20px 0;
	padding: 20px 50px;
}

.hangouts-count-container span, 
.hangouts-count-container a{
	border: 1px solid #fff;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 5px 15px;
}

.hangouts-count-container a:hover, 
.hangouts-count-container a.active {
	background-color: #271A4E;
	color: #00BCD4;
}

.hangouts-count-container a.active:hover {
	background-color: #57448F;
	color: #F9BA47;
}

.hangouts-count {
	padding-right: 5px;
}