extends ../app
block content
  
  #form-container
    form(method="POST" action="/search")
      .row
        .col-xs-6
          input(type="text" class="form-control" name="city" placeholder="Find cool places on your city")
        .col-xs-6
          button(type="submit" class="btn btn-default") SEARCH
